@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Space Mono", monospace;
 }
 
 :root {
     font-size: 62.5%;
 
     --jagged-ice: #C5E4E7;
     --white: #FFF;
     --greyish-turquoise: #5E7A7D;
     --squeeze: #F3F9FA;
     --sherpa-blue: #00474B;
     --topaz: #26C2AE;
     --beetle-green: #547878;
     --regent-grey: #7F9D9F;
     --water-leaf: #9FE8DF;
 }
 
 body {
     background: var(--white);
     padding: 3.2rem 2.4rem;
     border-radius: 2.5rem 2.5rem 0 0;
     max-width: 92rem;
 }
 
 .info {
         color: var(--sherpa-blue);
         font-weight: 700;
     }
 
 
 @media(min-width: 920px) {
     main {
         display: flex;
         margin-inline: auto;
         gap: 4.8rem;
         padding: 4.8rem;
         border-radius: 2.5rem;
        }
         section {
             width: 100%;
         }
 
         .info .tip div {
             grid-template-columns: repeat(3, 1fr);
            }
             button:hover {
                 background: var(--topaz);
                 cursor: pointer;
                 transition: .5s;
             }
         }
 
         input::-webkit-inner-spin-button,
         input::-webkit-outer-spin-button {
             display: none;
         }
 
         .results {
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             }
 
             .amount p,
             .total p {
                 font-size: 1.6rem;
             }
 
             .amount strong,
             .total strong {
                 font-size: 4.8rem; 
             }
 
             button:hover {
                 background: var(--water-leaf);
                 cursor: pointer;
                 transition: .5s;
             }
         
 