@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Space Mono", monospace;
 }
 
 :root {
     font-size: 62.5%;
 
     --jagged-ice: #C5E4E7;
     --white: #FFF;
     --greyish-turquoise: #5E7A7D;
     --squeeze: #F3F9FA;
     --sherpa-blue: #00474B;
     --topaz: #26C2AE;
     --beetle-green: #547878;
     --regent-grey: #7F9D9F;
 }
 
 body {
    
 .results {
     background: var(--sherpa-blue);
     border-radius: 1.5rem;
     padding: 2.4rem;
     
    }
     .amount,
     .total {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 2.5rem;
 
         p {
             color: var(--white);
             font-weight: 700;
             font-size: 1.3rem;
 
             span {
                 color: var(--regent-grey);
             }
         }
 
         strong {
             color: var(--topaz);
             font-size: 3.2rem;
         }
     }
 
     button {
         padding-block: .9rem;
         width: 100%;
         border: none;
         background: var(--topaz);
         border-radius: .5rem;
         text-transform: uppercase;
         font-size: 2rem;
         color: var(--sherpa-blue);
         font-weight: 700;
     }
 }